/*codice base responsive newsletter :*/

$font-stack: Helvetica,
sans-serif;
$color-font-table:#000000;
$bg-table:#FFFFFF;
$bg-color-1: #333333;
$bg-color-2:#000000;
$color-1:#000000;
$color-2:#f9f9f9;
$color-href:#42d342;
$table-font-default:16px;

/* Elements */

img {
    display: block;
    border: 0;
}

table {
    background-color: $bg-table!important;
    color: $color-font-table!important;
    font-family: $font-stack;
    font-size: $table-font-default;
}

a {
    text-decoration: none;
    color: $color-href;
}


/* Typography */

.size-1 {
    font-size: $table-font-default*2.5;
}

.size-2 {
    font-size: $table-font-default*2.0;
}

.size-3 {
    font-size: $table-font-default*1.5;
}

.size-4 {
    font-size: $table-font-default*1.2;
}

.size-5 {
    font-size: $table-font-default*1.0;
}

.size-6 {
    font-size: $table-font-default*0.8;
}

.size-7 {
    font-size: $table-font-default*0.7;
}

.txt-center {
    text-align: center
}

.txt-right {
    text-align: right
}

.txt-left {
    text-align: left
}

.peso-l {
    font-weight: 200;
}

.peso-n {
    font-weight: 400;
}

.peso-s {
    font-weight: 700;
}

.peso-h {
    font-weight: 900;
}

a.btn {
    text-align: center;
    display: inline-block;
    font-weight: 700;
    font-size: 24px;
    padding: 10px;
}

sup {
    font-size: 50%;
}


/* Mixins */

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

.box {
    @include border-radius(10px);
}

@mixin push--auto {
    margin: {
        left: auto;
        right: auto;
    }
}

@mixin input-placeholder {
    &.placeholder {
        @content;
    }
    &:-moz-placeholder {
        @content;
    }
    &::-moz-placeholder {
        @content;
    }
    &:-ms-input-placeholder {
        @content;
    }
    &::-webkit-input-placeholder {
        @content;
    }
}

@mixin font-smoothing($value: on) {
    @if $value==on {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    @else {
        -webkit-font-smoothing: subpixel-antialiased;
        -moz-osx-font-smoothing: auto;
    }
}

@mixin linearGradient($top, $bottom) {
    background: $top;
    /* Old browsers */
    background: -moz-linear-gradient(top, $top 0%, $bottom 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $top), color-stop(100%, $bottom));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, $top 0%, $bottom 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, $top 0%, $bottom 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, $top 0%, $bottom 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, $top 0%, $bottom 100%);
    /* W3C */
}


/* Media Queries */

@media only screen and (max-width: 480px) {
    table {
        max-width: 600px !important;
        width: 100%;
        height: auto;
        font-size: 16px !important;
    }
    .stack-column {
        display: block !important;
        width: 100% !important;
    }
    img {
        height: auto !important;
        max-width: 600px !important;
        width: 100% !important;
        border: 0;
    }
    a {
        display: block;
    }
    img.none {
        display: none;
    }
    img.no-resp {
        height: auto !important;
        max-width: 600px !important;
        width: auto !important;
        border: 0;
    }
}